// @font-face
//     font-family: Comfortaa
//     src: url('/static/fonts/Comfortaa-Regular.ttf') format('truetype')

.clear
    clear: both
.hidden
    display: none
.bold
    font-weight: bold
.left
    float: left
.right
    float: right
a:hover, a:visited
    color: #08C
a
    color: #06C

li 
    list-style: none
