#create-view
    margin: 20px

    #config
        width: 600px
        height: 400px

    #create-wrap
        width: 100%
        margin-top: 10px

        #create 
            float: left
            margin-right: 20px

        #success, #error
            display: none
            float: left
            width: 465px
