#index-view
    width: 100%

#list
    width: 950px
    margin: 0 auto

.battle-description
    font-family: 'helvetica'
    margin: 20px 20px 0 20px

.battle-segway
    font-size: 20px
    font-weight: bold
    text-align: center
    margin: 20px

.battle-wrap
    width: 100%

    .battle-inner
        width: 700px
        margin: 0 auto

        table
            width: 100%

            tr
                height: 50px

            .criteria 
                vertical-align: middle

                span
                    display: block
                    &.name
                        font-size: 18px
                        font-style: italic
                    &.desc 
                        color: #666
                        font-size: 12px

            th.contender
                width: 90px
                text-align: center
            
            .rank-wrap
                width: 26px
                height: 22px
                padding-left: 15px

            .rank
                border-radius 4px

                font-size: 20px
                line-height: 20px

                width: 26px
                height: 22px

                padding: 10px
                margin: 5px

                background-color: #DDD
                border: 1px solid #999
                text-align: center

                color: #666

.explanation
    // TODO: thought bubbles for our reviews
    margin: 20px

    div
        margin-right: 10px

    span
        font-weight: bold
        font-size: 18px

