minimum-width()
    min = 950px
    min-width: min

.main-page
    minimum-width()
    width: 100%
    margin: 0 auto

#footer, #footer-wrap
    height: 30px

#footer
    text-align: center
    font-style: normal
    font-weight: bold

    width: 100%
    position: fixed
    left: 0
    bottom: 0
    z-index: 5

    background-color: #900
    color: white

    span
        line-height: 28px

        &.inline-divider
            font-style: normal
            margin: 0 10px

        &.selected
            color: #CCC

        &#contact, &#about
            cursor: pointer

            &:hover
                font-style: italic

#footer-panels
    z-index: 10000
    font-family: Verdana, Geneva, sans-serif
    span.title
        display: inline-block
        font-size: 18px
        font-weight: bold
        margin-bottom: 5px
    p 
        display: inline-block
        margin-bottom: 20px

    > div
        position: fixed
        left: 50%
        bottom: 30px
        background-color: #900
        color: white
        border-radius 5px 5px 0 0 / 5px 5px 0 0
        display: none

    #about-panel, #contact-panel
        z-index: 10000

    #about-panel
        width: 600px
        height: 360px
        margin: 0 0 0 -300px
        
        #about-content
            margin: 20px 0 0 20px

            #about-img-wrap
                width: 240px
                height: 320px
                margin-right: 20px
            #about-txt-wrap
                width: 300px

    #contact-panel
        width: 440px
        height: 120px
        margin: 0 0 0 -220px
        text-align: center

        .name
            display: block
            margin-bottom: 5px
        .personal-site
            display: block

        #contact-content
            margin: 10px

            #contact-bash, #contact-jay
                width: 200px 

            #contact-xtra
                text-align: center
                width: 400px
                margin-top: 10px
    