minimum-width()
    min = 950px
    min-width: min

.main-page
    minimum-width()
    width: 100%
    margin: 0 auto

#footer
    text-align: center
    margin-top: 10px
    padding: 20px
    font-style: italic
    font-weight: bold
    