#nav
    .container 
        margin: 0 20px
        
        .brand
            font-weight: bold
            font-size: 25px
            padding: 10px 20px

        a
            font-family: 'Comfortaa', 'helvetica'

        li a
            font-size: 18px
            margin-top: 2px
        
        .right a:hover
            cursor: pointer
            text-decoration: underline

            a
                font-weight: bold
                font-size: 15px
                line-height: 40px 
                text-decoration: none
        
        .link-divider
            padding: 0 5px
