#header-wrap, #header-graphic
    height: 225px
    
    #header
        background-image: url('/static/images/header_bkgd.png')
        width: 100%
        height: 150px
        float: left

    #header-graphic-wrap
        position: relative
        background-repeat: no-repeat 
        background-position: center
        width: 100%

    #header-graphic
        background: transparent url('/static/images/header_graphic.png')
        width: 950px
        margin: 0 auto

        &.floating
            left: 50%
            margin-left: -475px


.logo-wrap
    position: relative
    width: 100%
    height: 155px

.logo
    width: 950px
    height: 155px
    margin: 0 auto

    &.floating
        left: 50%
        margin-left: -475px

    &.deep-dish-pizza
        background: transparent url('/static/images/deep-dish-pizza.png')
        background-repeat: no-repeat 
        background-position-y: -70px
