<div id="create-view">
    <div class="title">
        <h1>Create yo shiz</h1>
        <h3>It better be proper JSON...</h3>
    </div>

    <textarea id="config" rows="10" />
    <div id="create-wrap">
        <div id="create-inner">
            <a id="create" class="btn-primary btn-large" href="#" >Create</a>
        </div>

        <div id="success" class="alert alert-success">S'all good brotha, I gotchu. Save successful.</div>
        <div id="error" class="alert alert-error">Whoops, something went down. Check the logs.</div>
    </div>
</div>