<div id="header-wrap">
    <div id="header"></div>
    <div id="header-graphic-wrap">
        <div id="header-graphic"></div>
    </div>
</div>

<div id="index-view">
    <div id="list"></div>
</div>

<div id="footer-wrap">
    <div id="footer">
        <span id="tagline">Made with &hearts; and humor</span>
        <span class="inline-divider">|</span>
        <span id="about">Who Are We?</span>
        <span class="inline-divider">|</span>
        <span id="contact">Contact Us</span>
        <span class="inline-divider">|</span>
        <span id="copyright">&copy; 2012</span>
    </div>
</div>

<div id="footer-panels">
    <div id="about-panel">
        <div id="about-content">
            <div id="about-img-wrap" class="left">
                <img src="/static/images/about.jpg" />
            </div>
            <div id="about-txt-wrap" class="left">
                <span class="title">The Crew</span>
                <p>Jayeth and Basheus are just two dudes versus the world. In Boston, we have Basheus: a debonair, industrious code monkey who loves all things tech, fitness and music. In Chicago resides Jayeth: imaginative, dexterous and graphics-savvy, spreading visuals and musical prowess to the masses.</p>

                <span class="title">The Task</span>
                <p>Conquering Boston and Chicago is just one feat on their list. Long-time friends and bandmates, these two have seen many things. Why not rate and assess really minscule, unnecessary, potentially uninteresting things? The world is their oyster.<p>

                <p>Gauntlet thrown; gauntlet picked up.</p>
            </div>
        </div>
    </div>
    <div id="contact-panel">
        <div id="contact-content">
            <div id="contact-bash" class="left">
                <span class="name">Bash</span>

                <a href="https://twitter.com/Bryan_Ash" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @Bryan_Ash</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <a class="personal-site" target="_blank" href="https://github.com/b-ash">github</a>
            </div>
            <div id="contact-jay" class="left">
                <span class="name">Jay</span>

                <a href="https://twitter.com/JaySpiwak" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @JaySpiwak</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <a class="personal-site" target="_blank" href="http://www.jspiwak.com/">www.jspiwak.com</a>
            </div>
            <div class="clear"></div>
            <div id="contact-xtra">
                This page is powered by <a target="_blank" href="http://www.nodejitsu.com">Nodejitsu</a>. Check out the <a target="_blank" href="https://github.com/b-ash/versus">code</a>.
            </div>
        </div>
    </div>
</div>
