<div id="header-wrap">
    <div id="header"></div>
    <div id="header-graphic-wrap">
        <div id="header-graphic"></div>
    </div>
</div>

<div id="index-view">
    <div id="list"></div>
</div>

<div id="footer-wrap">
    <div id="footer">
        <span id="tagline">Made with &hearts; and humor</span>
        <span class="inline-divider">|</span>
        <span id="about">Who Are We?</span>
        <span class="inline-divider">|</span>
        <span id="contact">Contact Us</span>
    </div>
</div>

<div id="footer-panels">
    <div id="about-panel">
        <p>Abouts coming soon!</p>
    </div>
    <div id="contact-panel">
        <p>Contact us coming soon!</p>
    </div>
</div>
