<div id="header-wrap">
    <div id="header"></div>
    <div id="header-graphic-wrap">
        <div id="header-graphic"></div>
    </div>
</div>

<div id="index-view">
    <div id="list"></div>
</div>

<div id="footer">
    <span>Made with &lt;3 and humor</span>
</div>
