<div id="header-wrap">
    <div id="header"></div>
    <div id="header-graphic-wrap">
        <div id="header-graphic"></div>
    </div>
</div>

<div id="index-view">Coming soon!</div>
<div id="list"></div>
